.category-card-wraper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 105px;
}
.category-card {
    transition: transform .4s;
    margin:  30px 30px 0px 30px;
    
}
.category-card:hover {
    transform: scale(1.2);
}
.category-image {
    width: 240px;
    height: 220px;
}
.category-title {
    text-align: center;
}

