*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 100%;
  }
  
  .header {
      width: 100%;
      padding: 0 15%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 88px;
      z-index: 10;
      background: #eeeeee;
    
    }
    
    .navigator ul {
      display: flex;
      justify-content: center;
      height: 80px;
      border-bottom: 1px solid black;
    }
    

    
  
    .navigator li {
      display: block;
      list-style: none;
      text-decoration: none;
      padding: 10px 10px;
      margin: 40px 8px;
    }
    
    a {
      text-decoration: none;
      font-size: 15px;
    }

    .navbar__link--active {
      border-bottom: 3px solid #29b6f6;
       transition: border-bottom .2s ease-in-out;
    }
   

    a:hover {
      border-bottom: 3px solid black ;
    }
    
    .brand {
        margin-top: 52px;
    }

    .cart {
      height: 25px;
      width: 39px;
      margin-top: -35px;
      cursor: pointer;
      float: right;
    }
    
    .cart-length {
      float: right;
      margin-top: -53px;
      margin-right: 9px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  
  