body {
  font-family: Arial, Helvetica, sans-serif;
}

.wraper-card {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 135px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 0 0  3% 3%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /*transition: transform 0.99s;
  transform-style: preserve-3d;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}*/

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}
ul {
  list-style-type: none;
}

/*.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
} */

.flip-card-back h2 {
  margin-top: 20px;
}

.flip-card-back ul {

}

.flip-card-back input {
  width: 80%;
  margin-top: 18%;
  height: 30px;
  margin-left: 25px;
}

img {
  height: 250px;
  width: 250px;
}

.description {
  font-size: 10px;
}
.tillKassan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
    
}
.tillKassan li {
  color: black;
  padding: 2px;
  border-radius: 18px;
  text-align: center;
  margin-left: 26%;
}

.inputAddToCart {
  /*background-color: #0c948a;*/
  background-color: #29b6f6;

  
  

}
.inputRemoveFromCart {
  background-image:url(../Images/trash1.png); 
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;


  
}
.loading {
  text-align: center;
  margin-top: 20%;
}

.kassan {
  
}