body {
  background-image:url(../src/Images/coolBackground.png);
  background-repeat: space;
  background-size: auto;
  background-position: left;


}

.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  margin-top: 10%;
}